
<div class="partial">

    <div class="navigation">
        <a href="/register">Register</a>
    </div>
    <div class="navigation">
        <a href="/petition">Sign Petition</a>
    </div>
    <div class="navigation">
    <a href="/petition/signed">Thank You!</a>
    </div>

</div>
