
<div class="partial">
    <h2>Navigation Bar</h2>
    <ul>

        <li>
        <a href="/register">Register</a>
        <a href="/petition">Petition</a>
        <a href="/petition/signed">Thanks for signing :)</a>
        <a href="/petition/signers">Signers so far</a>
        </li>

    </ul>
</div>
