<h1>Login Page</h1>


<form  action="/login" method="post">
    <input class="register" name="email" type="email" placeholder="email" value="{{email}}">
    <input class="register" name="password" type="password" placeholder="password">
    <!-- keep button with type submit, or just empty -->
    <button type="submit">Log in</button>

    <p>{{error}}</p>

</form>
