{{> nav }}



<div id="bodypetition">
    <h1>Confirm that you are cool by signing our Petition!</h1>

    <div id="petitionelements">

        <img src="/assets/justsul1.png" id="pacinobefore">

        <div id="canvasandbuttons">

            <canvas id="canvas" height="200" width="600"></canvas>

            <div id="buttonspetition">
                <button name="refresh" type="button" id="refresh">Retry Signature</button>

                <form class="petition" action="/petition" method="post">
                    <input type="hidden" name="signature" value="" id="signature">
                    <button name="button" type="submit" id="submitsignature">Submit</button>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>
            </div>

        </div>

    </div>


</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js"></script>