
<h4>Pleae tell us more about yourself</h4>

<form  action="/profile" method="post">
    <input class="profile" name="age" type="number" placeholder="i.e. 33">
    <input class="profile" name="city" type="text" placeholder="i.e. Hamburg">
    <input class="profile" name="homepage" type="url" placeholder="url">

    <button type="submit">Submit</button>

</form>
