
<h4>Edit your profile</h4>

<form  action="/profile/edit" method="post">

    <input class="editprofile" name="first" id="first" type="text">First Name</input>

    <input class="editprofile" name="last" type="text">Last Name</input>

    <input class="editprofile" name="email" type="email">e-mail</input>

    <input class="editprofile" name="password" type="password">Password</input>

    <input class="editprofile" name="age" type="number">Number</input>

    <input class="editprofile" name="city" type="text">City</input>

    <input class="editprofile" name="homepage" type="url">Homepage</input>


    <button type="submit" class="editprofile">Submit</button>



</form>

<script src="/script.js"></script>
