<form  id="profileform" action="/profile" method="post">
    <h4>Please tell us more about how cool you are!</h4>
    <input class="profile" name="age" id="age" type="number" placeholder="Age?">
    <input class="profile" name="city" type="text" placeholder="City?">
    <input class="profile" name="homepage" id="homepage" type="text" placeholder="Homepage?">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" id="submitprofile">Submit</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script2.js"></script>
