{{> nav }}

<h2> THIS IS THE SIGNED - THANK YOU PAGE</h2>

<a href="/profile/edit">Edit Profile</a>

<h5></h5>
<img src="{{image}}" alt="" id="{{id}}">
<h2>{{message}}</h2>

<form class="" action="/petition/signed" method="post">
    <button name="logout" type="submit" id="refreshSign" value="true">Logout</button>
    <button name="delete" type="submit" id="deleteSign" value="true">Delete your Signature</button>
    <button name="deleteaccount" type="submit" id="deleteaccount" value="true">Delete your account</button>
</form>
