body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.partial {
  margin-top: 20px;
  width: 100vw;
  height: 70px;
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation {
  margin: 10px;
  font-family: Verdana, "sans-serif";
  font-weight: bold;
  text-align: center;
  color: #004796;
}

.navigation a:link {
  text-decoration: none;
}

.navigation a:visited {
  color: #004796;
}

#about {
  color: #004796;
  margin-top: 20px;
  font-family: Verdana, "sans-serif";
}
#about h1 {
  font-size: 35px;
  text-align: center;
}
#about h2 {
  font-size: 25px;
  font-weight: lighter;
}

#mainbody {
  background-image: url("/assets/background-cold.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100vw;
}

.field {
  display: block;
}

#registerform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register,
.login,
.profile,
.editprofile {
  margin: 5px;
  margin-right: 30px;
  width: 150px;
  height: 25px;
  background: #c5e1ff;
}

#submitregister {
  font-family: "Arial black";
  font-size: 13px;
  color: #004796;
  margin: 15px;
  margin-left: 0;
  width: 90px;
  height: 35px;
  border: solid 5px #90bff5;
  background: white;
  border-style: outset;
}

.errormessage {
  width: 300px;
  height: 15px;
  padding: 5px;
  margin-top: 10px;
  font-family: Verdana, "sans-serif";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fd0000cf;
}

#loginlink {
  width: 400px;
  height: 15px;
  padding: 5px;
  margin-top: 40px;
  font-family: Verdana, "sans-serif";
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #004796;
  background: #c5e1ff;
}

#logindiv {
  display: inline-flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 0;
  width: 100vw;
  height: 50px;
}

#loginmessage {
  margin-top: 70px;
  color: #004796;
  font-family: Verdana, "sans-serif";
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#submitlogin {
  font-family: "Arial black";
  font-size: 13px;
  color: #004796;
  margin-top: 3px;
  width: 90px;
  height: 33px;
  border: solid 3px #90bff5;
  background: white;
  border-style: outset;
}

#loginerror {
  width: 100vw;
}

#signedbody {
  width: 100vw;
  height: 400px;
  padding-top: 65px;
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#menusigned {
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsigned {
  border: solid 5px #077bfd87;
  color: #004599;
  border-radius: 10px;
  height: 45px;
  width: 160px;
  margin-top: 10px;
  background: #b1ddfd;
  font-family: "Arial";
  font-size: 13px;
  font-weight: bold;
  border-style: outset;
}

.signaturecanvas {
  margin-right: 0;
  background: #b1ddfd;
  width: 400px;
  height: 150px;
}

#pacinoafter {
  align-self: flex-end;
  height: 400px;
  width: 411px;

  /* position: absolute;
    bottom: 100%;
    top: 0;
    background-color: white;
    z-index: 70; */
}

#profileform {
  margin: 0;
  height: 400px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profileform h4 {
  color: #004796;
  margin-top: 10px;
  font-family: Verdana, "sans-serif";
  font-size: 25px;
  /* font-weight: normal; */
}

.profile {
  display: block;
}

#submitprofile {
  font-family: "Arial black";
  font-size: 13px;
  color: #004796;
  margin-top: 6px;
  margin-left: 0;
  margin-right: 20px;
  width: 90px;
  height: 33px;
  border: solid 3px #90bff5;
  background: white;
  border-style: outset;
}

.editprofile {
  display: block;
}

#button {
  display: block;
}

/* ///////////////////////////////////////  PETITION */

#bodypetition {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#petitionelements {
  margin-top: 50px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  /* flex-direction: column; */
  width: 100vw;
  padding: 0;
}

#bodypetition h1 {
  color: #004796;
  margin-top: 20px;
  font-family: Verdana, "sans-serif";
  font-size: 25px;
  align-self: center;

  /* font-weight: normal; */
}

#canvasandbuttons {
  width: 600px;
}

#petitionelements {
  /* width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row; */
}

#pacinobefore {
  height: 410px;
  width: 400px;
}

#buttonspetition {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

/* ////////////////////////////////////////////////PETITION */

#refresh {
  font-family: "Arial black";
  font-size: 13px;
  color: #004796;
  margin: 15px;
  margin-left: 0;
  width: 180px;
  height: 35px;
  border: solid 5px #90bff5;
  background: white;
  border-style: outset;
}

#submitsignature {
  font-family: "Arial black";
  font-size: 13px;
  color: #004796;
  margin: 15px;
  margin-right: 0;
  width: 90px;
  height: 35px;
  border: solid 5px #90bff5;
  background: white;
  border-style: outset;
}

#canvas {
  border: 5px solid #26a4fd;
  background: #daf1ff;
}

#bodyeditprofile {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* color: #004796; */
  color: white;
  margin-top: 10px;
  font-family: Verdana, "sans-serif";
  font-size: 10px;
}

#bodyeditprofile h4 {
  color: #004796;
  font-size: 25px;
}

.editprofile {
  color: #004796;
  font-family: Verdana, "sans-serif";
  font-size: 10px;
  text-align: center;
}

#submitprofile {
  margin-left: 40px;
}

.bodysigners {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 500px;
}

.bodysigners h3 {
  font-family: Verdana, "sans-serif";
  font-weight: bold;
  color: #004796;
  font-size: 25px;
  display: inline;
  /* margin-top: 50px; */
}

.signers {
  font-family: Verdana, "sans-serif";
  font-weight: normal;
  color: #004796;
  font-size: 15px;
  margin-top: 50px;
}

.signers li {
  margin-top: 5px;
  background-color: #ecf9fe;
  width: 350px;
}

.signers a:link {
  color: #004796;
}

.signers a:visited {
  color: #004796;
}

#frosted {
  margin-top: 50px;
  height: 400px;
  width: 600px;
}

#bodysignersbycity {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

#bodysignersbycity h2 {
  font-family: Verdana, "sans-serif";
  font-weight: bold;
  color: #004796;
  font-size: 25px;
  display: inline;
  align-self: center;
}

#signersbycity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin-top: 50px;
}

#citypicture {
  position: absolute;
  left: 100%;
  transform: translateX(-1250px);
  transition-duration: 3s;
  top: 30%;
  width: 600px;
  height: 300px;
  background-color: white;
  z-index: 70;
}
